.oculto {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0f4f8;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: gray;
    border-radius: 5px;
    color: #fff;
}

#mensagem {
    background-color: #d1e7dd;
    color: #0f5132;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}